* {
    margin: 0;
    box-sizing: border-box; 
}

header{
    height: 128px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px max(calc(50% - 720px));
    background-color: #E76C1F;

    .header-logo {
        height: 40px;
        padding-left: 120px;
    }

    .header-burger-menu{
        height: 40px;
        padding-right: 120px;
    }
}